{% assign_local c = "c-text-block" %}

{% if text %}
    <div class="{{ c }}" data-rosey-ns="markdown" data-rosey="{{ text | generateRoseyId }}">    
        {{ text | markdownify }}
    </div>
{% endif %}